# Allowlisting gitignore template prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!.gitignore

!skunkcrafts_updater.cfg
!skunkcrafts_updater_blacklist.txt
!skunkcrafts_updater_sizeslist.txt
!skunkcrafts_updater_whitelist.txt

!plugins/

README.md
LICENSE

# ...even if they are in subdirectories
!*/
